<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HoangVQ-LoginRegister-01</title>
    <!-- <link rel="stylesheet" href="./assets/css/stylle.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
</head>

<body>
    <div id="login-register">
        <div id="form-left">
            <form action="" class="form-login">
                <div class="in-form-login">
                    <div class="title">

                    </div>
                    <div class="line-space-big"></div>
                    <div class="form-input">

                        <div class="line-space-big"></div>
                        <div class="remember">
                        </div>
                        <div class="login-button">
                            <p><button class="login">Đăng nhập</button></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="form-right">
            <div id="form-right-hidden">
                <form action="" class="form-register" [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="in-form-register">
                        <div class="title">
                            <h2>Đăng ký tài khoản mới tại đây</h2>
                            <p>Definitely, We can Serve you better – Chắc chắn, chúng tôi có thể phục vụ bạn tốt hơn</p>
                        </div>
                        <div class="form-input">
                            <input class="first" type="text" formControlName="name" placeholder="Tên của bạn">
                            <input class="midle" type="email" formControlName="email" placeholder="Tài khoản Gmail của bạn">
                            <input class="midle" type="number"  formControlName="phone"  placeholder="Số điện thoại của bạn">
                            <input class="second" type="text" formControlName="address"  placeholder="Địa chỉ cá nhân">
                            <div class="line-space-big"></div>
                            <input class="first" type="password" formControlName="password"  placeholder="Mật khẩu">
                            <input class="second" type="password" formControlName="repassword"  placeholder="Nhập lại mật khẩu">
                            <!-- <p><strong>Thêm ảnh đại diện</strong><input type="file" id="file" (change)="handleFileInput($event.target.files)"></p> -->
                            <div class="register-button">
                                <p><button class="create-account">Tạo tài khoản</button></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>

</html>
