<!-- SLIDE -->
<div id="slider">
  <div class="slide1"></div>
</div>
<!-- ---SLIDE -->



<!-- CONTENT -->
<div id="content">
  <!-- Login -->
  <div class="content-login">
    <h2>Chào mừng đến với Luxstay</h2>
    <div class="line-big"></div>
    <p>Đặt chỗ ở, homestay, cho thuê xe, trải nghiệm và nhiều hơn nữa trên Luxstay</p>
    <p><a routerLink="../login">Đăng nhập</a> hoặc <a routerLink="../register">Đăng ký</a> để trải nghiệm</p>
  </div>
  <!-- ---Login -->

  <!-- Address top -->
  <div class="content-address-top">
    <h2>Địa điểm nổi bật</h2>
    <div class="line-big"></div>
    <p>Cùng Luxstay bắt đầu chuyến hành trình chinh phục thế giới của bạn</p>
    <div class="line-big"></div>
    <div class="address-top-area">
      <div class="address-area-01">
        <div class="content-on-image">
          <h2>Hoàn Kiếm</h2>
          <p>2000 Chỗ ở</p>
        </div>
      </div>
      <div class="address-area-02">
        <div class="content-on-image">
          <h2>Tây Hồ</h2>
          <p>2000 Chỗ ở</p>
        </div>
      </div>
      <div class="address-area-03">
        <div class="content-on-image">
          <h2>Long Biên</h2>
          <p>2000 Chỗ ở</p>
        </div>
      </div>
      <div class="address-area-04">
        <div class="content-on-image">
          <h2>Đống Đa</h2>
          <p>2000 Chỗ ở</p>
        </div>
      </div>
      <div class="address-area-05">
        <div class="content-on-image">
          <h2>Thanh Xuân</h2>
          <p>2000 Chỗ ở</p>
        </div>
      </div>
    </div>
  </div>
  <!-- ---Address top -->

  <!-- Voucher -->
  <div class="content-voucher">
    <h2>Ưu đãi độc quyền</h2>
    <div class="line-big"></div>
    <p>Chỉ có tại Luxstay, hấp dẫn và hữu hạn, book ngay!</p>
    <div class="line-big"></div>
    <div class="voucher-image">
      <div class="voucher-image-01"></div>
      <div class="voucher-image-02"></div>
      <div class="voucher-image-03"></div>
    </div>
  </div>
  <!-- ---Voucher -->

  <!-- Blog -->
  <div class="content-blog">
    <h2>Gợi ý từ Luxstay</h2>
    <div class="line-big"></div>
    <p>Những địa điểm thường đến mà Luxstay gợi ý dành cho bạn</p>
    <div class="line-big"></div>
    <div class="blog-show">
      <div class="blog-show-content-1">
        <div class="blog-image-1"></div>
        <div class="blog-content">
          <p class="title">Vi vu ngoại thành Hà Nội</p>
          <p class="description">Trải ngiệm không gian thoáng đáng cho chuyến đi ngay gần Hà Nội</p>
        </div>
      </div>
      <div class="blog-show-content-2">
        <div class="blog-image-2"></div>
        <div class="blog-content">
          <p class="title">Hồ Tây biệt thự hồ bơi</p>
          <p class="description">Những căn biệt thự có hồ bơi cho kỳ nghỉ của bạn tạji Hồ Tây</p>
        </div>
      </div>
      <div class="blog-show-content-3">
        <div class="blog-image-3"></div>
        <div class="blog-content">
          <p class="title">Long Biên ngoại thành lãng mạn</p>
          <p class="description">Không gian lãng mạn dành cho cặp đôi tại ngoại thành Hà Nội</p>
        </div>
      </div>
      <div class="blog-show-content-4">
        <div class="blog-image-4"></div>
        <div class="blog-content">
          <p class="title">Hồ Gươm có ngay</p>
          <p class="description">Những căn homestay có 01 phòng ngủ tại Hồ Gươm có thể đặt nhanh chóng
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- ---Blog -->

  <!-- App -->
  <div class="content-app">
    <div class="app-left">
      <div class="content-1">
        <h1>Luxstay</h1>
      </div>
      <div class="line-big"></div>
      <div class="content-2">
        <h2>Tìm kiếm chỗ ở giá tốt nhất</h2>
      </div>
      <div class="line-big"></div>
      <div class="content-3">
        <p>Luxstay hiện là nền tảng đặt phòng trực tuyến #1 Việt Nam. Đồng hành cùng chúng tôi, bạn có những chuyến đi mang đầy trải nghiệm. Với Luxstay, việc đặt chỗ ở, biệt thự nghỉ dưỡng, khách sạn, nhà riêng, chung cư... trở nên nhanh chóng, thuận tiện và dễ dàng.</p>
      </div>
      <div class="line-big"></div>
      <div class="content-4">
        hahaha
        <div class="content-4-1"></div>
        <div class="content-4-2"></div>
        <div class="content-4-3"></div>
      </div>
    </div>
    <div class="app-right">
      <div class="app-image"></div>
    </div>
  </div>
  <!-- ---App -->
</div>
<!-- ---CONTENT -->
