<!--<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">-->

<!--<link rel="stylesheet" href="../../../../assets/fonts/icomoon/style.css">-->

<!--<link rel="stylesheet" href="../../../../assets/css/owl.carousel.min.css">-->


<!--<link rel="stylesheet" href="../../../../assets/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="../../../../assets/css/style.css">-->
 <div class="d-lg-flex half">
  <div class="bg order-1 order-md-2" style="background-image: url('assets/auth-template/images/bg_1.jpg');"></div>
  <div class="contents order-2 order-md-1">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
          <div class="mb-4">
            <h3>Đăng Nhập</h3>
          </div>
          <div *ngIf="errorLogin">
            {{errorLogin}}
          </div>
          <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group last mb-3">
              <label >Email</label>
              <input type="email" formControlName="email" class="form-control" >
            </div>
            <div class="form-group last mb-3">
              <label>Mật khẩu</label>
              <input type="password" formControlName="password" class="form-control" >
            </div>
            <div class="d-flex mb-5 align-items-center">
              <label class="control control--checkbox mb-0"><span class="caption">Nhớ mật khẩu</span>
                <input type="checkbox" checked="checked">
                <div class="control__indicator"></div>
              </label>
              <span class="ml-auto"><a href="#" class="forgot-pass">Quên mật khẩu</a></span>
            </div>
            <input type="submit" value="Đăng Nhập" class="btn btn-block btn-secondary">
            <input routerLink="../register" type="submit" value="Đăng Ký" class="btn btn-block btn-info mt-3">
            <span class="d-block text-center my-4 text-muted">&mdash; Hoặc &mdash;</span>
            <div class="social-login">
              <a href="#" class="google btn d-flex justify-content-center align-items-center">
                <span class="icon-google mr-3"></span> Google
              </a>
              <a href="#" class="twitter btn d-flex justify-content-center align-items-center">
                <span class="icon-github mr-3"></span> Github
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<script src="../../../../assets/js/jquery-3.3.1.min.js"></script>-->
<!--<script src="../../../../assets/js/popper.min.js"></script>-->
<!--<script src="../../../../assets/js/bootstrap.min.js"></script>-->
<!--<script src="../../../../assets/js/main.js"></script>-->






 <!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HoangVQ-LoginRegister-01</title>
    <link rel="stylesheet" href="./assets/css/stylle.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
</head>

<body>
    <div id="login-register">
        <div id="form-left">
            <form action="" class="form-login">
                <div class="in-form-login">
                    <div class="title">
                        <h2>Đăng nhập</h2>
                        <p>Your Passion is our Satisfaction – Đam mê của bạn là sự hài lòng của chúng tôi</p>
                    </div>
                    <div class="form-input">
                        <input type="text" placeholder="Tài khoản đăng nhập">
                        <input type="text" placeholder="Mật khẩu đăng nhập">
                        <div class="remember">
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me" id="remember_me"> Lưu lại thông tin tài khoản
                            </label>
                            <br>
                            <p onclick="myFunction()"><a href="#">Bạn chưa có tài khoản ? Tạo ngay tại đây!!!</a></p>
                        </div>


                        <div class="login-button">
                            <p><button class="login">Đăng nhập</button></p>
                            <p>- or -</p>
                            <p><button class="login-google">Đăng nhập bằng tài khoản Google</button></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="form-right">
            <div id="form-right-hidden" style="display: none;">
                <form action="" class="form-register">
                    <div class="in-form-register">
                        <div class="title">
                            <h2>Đăng ký tài khoản mới tại đây</h2>
                            <p>Definitely, We can Serve you better – Chắc chắn, chúng tôi có thể phục vụ bạn tốt hơn</p>
                        </div>
                        <div class="form-input">
                            <p><input type="text" placeholder="Tên của bạn"></p>
                            <p><input type="text" placeholder="Tài khoản Gamil của bạn"></p>
                            <p><input type="text" placeholder="Số điện thoại của bạn"></p>
                            <p><input type="text" placeholder="Địa chỉ cá nhân"></p>
                            <div class="line-space"></div>
                            <p><input type="text" placeholder="Mật khẩu"></p>
                            <p><input type="text" placeholder="Nhập lại mật khẩu"></p>
                            <p><strong>Thêm ảnh đại diện</strong><input type="file" id="file" (change)="handleFileInput($event.target.files)"></p>
                            <div class="register-button">
                                <p><button class="create-account">Tạo tài khoản</button></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        function myFunction(){
            var x = document.getElementById("form-right-hidden");
            if (x.style.display === "none") {
              x.style.display = "block";
            } else {
              x.style.display = "none";
            }
        }
    </script>
</body>

</html> -->
