/* Reset Css */

#login-register {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  background-color: white;
}

/* ------- */

.form-login>.in-form-login>.form-input>input {
  width: 127%;
  height: 74px;
}

.form-register>.in-form-register>.form-input>input {
  width: 127%;
  height: 57px;
}

.in-form-register>.form-input>.midle{
  border-top: 0.5px solid #efefef;
  border-bottom: 0.5px solid #efefef;
  border-left: 0.5px solid #616161;
  border-right: 0.5px solid #616161;
}

.in-form-login>.form-input>.first,
.in-form-register>.form-input>.first{
  border-bottom: 0px solid #efefef;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 0.5px solid #616161;
  border-left: 0.5px solid #616161;
  border-right: 0.5px solid #616161;
}

.in-form-login>.form-input>.second,
.in-form-register>.form-input>.second{
  border-top: 0.1px solid #efefef;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 0.5px solid #616161;
  border-left: 0.5px solid #616161;
  border-right: 0.5px solid #616161;
}

.login-button{
  text-align: center;
  position: relative;
  top:50px;
  left:0%;
}

button{
  width: 122%;
  height: 54px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.or-button{
  position: relative;
  left: 12%;
}

.login{
  background-color:#007bff;
  border-radius: 0.25rem;
  color: white;
  border-color: #007bff;
}

.login-google{
  background-color: #e82e1e;
  border-radius: 0.25rem;
  color: white;
  border-color: #e82e1e;
}

.line-space{
  height:2px;
  background-color:white;
}

.line-space-big{
  height:25px;
  background-color:white;
}

.create-account{
  background-color:#007bff;
  border-radius: 0.25rem;
  color: white;
  border-color: #007bff;
}

/* -------- */

#login-register #form-left {
  width: 50%;
  height: 925px;
  background-color: white;
  float: left;
  position: relative;
}

#login-register #form-right {
  background-image: url(https://cdn1.photostockeditor.com/c/1312/woman-standing-on-middle-of-road-people-human.jpg);
  width: 50%;
  height: 925px;
  background-size: cover;
  background-position: center;
  float: right;
  position: relative;
}

.in-form-login {
  background-color: white;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  position: absolute;
  width: 60%;
  height: 70%;
  top: 15%;
  left: 20%;
}

.in-form-register {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 60%;
  height: 83%;
  top: 10%;
  left: 20%;
}

.form-input {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 60%;
}

.in-form-register>.form-input{
  position: absolute;
  top: 23%;
  left: 10%;
  width: 60%;
  /* height: 800px;
  background-color: red; */
}


.title h2 {
  text-transform: uppercase;
}

.title {
  /* text-align: center; */
  position: absolute;
  padding: 20px 56px 0;
}

::placeholder{
  font-family: "Quicksand", sans-serif;
  padding-left: 10px;
  color: #aaa8a8;
  font-size: 16px;
}