<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HoangVQ-LoginRegister-01</title>
    <!-- <link rel="stylesheet" href="./assets/css/stylle.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
</head>

<body>
    <div id="login-register">
        <div id="form-left">
            <form action="" class="form-login" *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="in-form-login">
                    <div class="title">
                        <h2>Đăng nhập</h2>
                        <p>Your Passion is our Satisfaction – Đam mê của bạn là sự hài lòng của chúng tôi</p>
                    </div>
                    <div class="line-space-big"></div>
                    <div class="form-input">
                        <input class="first" type="text" formControlName="email"  placeholder="Tài khoản đăng nhập">
                        <input class="second" type="password" formControlName="password"  placeholder="Mật khẩu đăng nhập">
                        <div class="line-space-big"></div>
                        <div class="remember">
                            <label class="checkbox">
                                <input type="checkbox" value="remember-me" id="remember_me"> Lưu lại thông tin tài khoản
                            </label>
                            <br>
                            <p onclick="myFunction()"><a routerLink="../register">Bạn chưa có tài khoản ? Tạo ngay tại đây!!!</a></p>
                        </div>
                        <div class="login-button">
                            <p><button class="login">Đăng nhập</button></p>
                            <p class="or-button">- or -</p>
                            <p><button class="login-google">Đăng nhập bằng tài khoản Google</button></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="form-right">
            <div id="form-right-hidden" style="display: none;">
                <form action="" class="form-register">
                    <div class="in-form-register">
                        <div class="title">
                            <h2>Đăng ký tài khoản mới tại đây</h2>
                            <p>Definitely, We can Serve you better – Chắc chắn, chúng tôi có thể phục vụ bạn tốt hơn</p>
                        </div>
                        <div class="form-input">
                            <input class="first" type="text" formControlName="name" placeholder="Tên của bạn">
                            <input class="midle" type="text" formControlName="email" placeholder="Tài khoản Gmail của bạn">
                            <input class="midle" type="text"  formControlName="phone"  placeholder="Số điện thoại của bạn">
                            <input class="second" type="text" formControlName="address"  placeholder="Địa chỉ cá nhân">
                            <div class="line-space-big"></div>
                            <input class="first" type="text" formControlName="password"  placeholder="Mật khẩu">
                            <input class="second" type="text" formControlName="repassword"  placeholder="Nhập lại mật khẩu">
                            <!-- <p><strong>Thêm ảnh đại diện</strong><input type="file" id="file" (change)="handleFileInput($event.target.files)"></p> -->
                            <div class="register-button">
                                <p><button class="create-account">Tạo tài khoản</button></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        function myFunction(){
            var x = document.getElementById("form-right-hidden");
            if (x.style.display === "none") {
              x.style.display = "block";
            } else {
              x.style.display = "none";
            }
        }
    </script>
</body>

</html>
