<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HoangVQ - Admintheme - 01</title>
  <!-- <link rel="stylesheet" href="./assets/css/style.css"> -->
  <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>

</head>

<body>
<div id="admin-theme">
  <!-- HEADING -->
  <div class="admin-theme-header">
    <div class="name-brand">
      <h2>Luxstay</h2>
    </div>
    <div class="user-setting"><i class="ti-user">
      <!-- <ul>
          <li>Trang chủ</li>
          <li>Cá nhân</li>
          <li>Đăng xuất</li>
      </ul> -->
    </i></div>
  </div>
  <!-- ---HEADING -->

  <!-- CONTENT -->
  <div class="admin-theme-content">

    <!-- Slidebar -->
    <div class="sidebar">
      <h2>Chủ nhà cho thuê</h2>
      <div class="line-beauty"></div>
      <div class="line-beauty"></div>
      <div class="menu">
        <h4>Quản lý nhà</h4>
        <ul>
          <li><a>Danh sách nhà</a></li>
          <li><a>Nhà đang thuê</a></li>
          <li><a routerLink="../create">Thêm nhà mới</a></li>
        </ul>
        <div class="line-beauty"></div>
        <h4>Quản lý người thuê</h4>
        <ul>
          <li><a>Danh sách người thuê</a></li>
          <li><a>Thêm người thuê mới</a></li>
        </ul>
        <div class="line-beauty"></div>
        <h4>Hỗ trợ</h4>
        <ul>
          <li><a>Tổng đài hỗ trợ</a></li>
          <li><a>Gửi mail câu hỏi</a></li>
        </ul>
      </div>
    </div>
    <!-- ---Slidebar -->

    <!-- Main -->
    <div class="main-content">
      <div class="main-show">

        <!-- DataShow -->
        <div id="table-manager">
          <div class="table-header">
            <p><i class="ti-layout"></i> Danh sách nhà cho thuê</p>
          </div>
          <div class="line-big"></div>
          <div class="table-content">
            <div class="table-content-show">
              <table>
                <thead>
                <tr>
                  <th>Mã số nhà</th>
                  <th>Tên Căn hộ</th>
                  <th>Hình Ảnh</th>
                  <th>Địa chỉ</th>
                  <th>Số phòng ngủ</th>
                  <th>Số phòng tắm</th>
                  <th>Giá cho thuê</th>
                  <th>Trạng thái</th>
                  <th>Hành động</th>
                </tr>
                </thead>
<!--                <tbody>-->
<!--                <tr *ngFor="let house of houses, index as i">-->
<!--                  <td>{{ house.id }}</td>-->
<!--                  <td>{{ house.name }}</td>-->
<!--                  <td>{{ house.image }}</td>-->
<!--                  <td>{{ house.address }}</td>-->
<!--                  <td>{{ house.bedroom }}</td>-->
<!--                  <td>{{ house.bedroom }}</td>-->
<!--                  <td>{{ house.price }}</td>-->
<!--                  <td>{{ house.status }}</td>-->
<!--                  <td>-->
<!--                    <button class="update"-->
<!--                            routerLink="../../house/update/{{house.id}}">Sửa</button>-->
<!--                    <button class="delete" (click)="destroy(i)">Xóa</button>-->
<!--                  </td>-->
<!--                </tr>-->
<!--                </tbody>-->
              </table>
            </div>
          </div>
        </div>
        <!-- ---DataShow -->

      </div>
    </div>
    <!-- ---Main -->

  </div>
  <!-- ---CONTENT -->
</div>
</body>

</html>
