<!-- CONTENT -->
<div id="content-homestay">
    <div class="button-choice">
        <button>Hủy phòng linh hoạt</button>
        <button>Đặt phòng nhanh</button>
        <button>Giá ưu đãi</button>
        <button>Khu vực</button>
        <button>Loại phòng</button>
        <button>Giá chỗ ở</button>
        <button>Thêm bộ lọc</button>
    </div>
    <div class="line-big-2"></div>
    <div class="description">
        <p><strong>Trước khi đặt phòng, hãy kiểm tra những địa điểm bị hạn chế du lịch trong thời gian
                này.</strong> Sức khỏe và sự an toàn của cộng đồng luôn được đặt hàng đầu. Vì vậy, vui lòng làm
            theo chỉ thị của chính phủ bởi điều đó thực sự cần thiết.</p>
    </div>
    <div class="line-big-2"></div>
    <div class="show-homestay">
        <div class="district">
            <h2>Danh sách Homestay</h2>
            <div class="line-big"></div>
            <div class="address-top-area">

                <div class="show-product">
                    <div class="address-area-01a">
                        <img src="https://cdn.luxstay.com/home/location/location_1_1559734709.png" alt="">
                    </div>
                    <div class="content-under-image">
                        <h5>Căn hộ dịch vụ - 1 phòng ngủ</h5>
                        <div class="line-big"></div>
                        <p>2000 Chỗ ở</p>
                        <p><strong>690,000₫/đêm</strong></p>
                    </div>
                </div>

                <div class="show-product">
                    <div class="address-area-01a">
                        <img src="https://cdn.luxstay.com/home/location/location_1_1559734709.png" alt="">
                    </div>
                    <div class="content-under-image">
                        <h5>Căn hộ dịch vụ - 1 phòng ngủ</h5>
                        <div class="line-big"></div>
                        <p>2000 Chỗ ở</p>
                        <p><strong>690,000₫/đêm</strong></p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    <!-- ---CONTENT -->